Makefile
.deps
.libs
.dirstamp
*.o
*.lo
*.a
*.la

audio/telephony.c

bluez.pc

config.h
config.log
config.status

doc/version.xml

emulator/btvirt
lib/bluetooth
libtool
mgmt/btmgmt
monitor/btmon

src/bluetooth.service
src/bluetoothd
src/bluetoothd.8
src/builtin.h

stamp-h1

tools/avinfo
tools/ciptool
tools/hciattach
tools/hciconfig
tools/hcieventmask
tools/hcisecfilter
tools/hcitool
tools/l2ping
tools/ppporc
tools/rfcomm
tools/sdptool
tools/lexer.c
tools/parser.c
tools/parser.h
